<!-- [ breadcrumb ] start -->
<div class="page-header">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="page-header-title">
          <h5>Danh sách thành viên lab</h5>
        </div>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard"><i
                class="feather icon-home"
              ></i></a></li>
          <li class="breadcrumb-item"><a href="#!">Members Management</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- [ breadcrumb ] end -->
<!-- [ Main Content ] start -->
<div class="members-management__wrapper">
  <div class="d-flex members-management__header bg-white p-3">
    <button class="btn btn-primary"><i class="fas fa-plus"></i>Thêm thành viên
      mới</button>
    <button class="btn btn-secondary d-flex">
      <input type="file" accept=".xlsx" /><i
        class="fas fa-file-import"
      ></i>Import danh sách thành viên
    </button>
    <button class="btn btn-success"><i class="fas fa-file-excel"></i>Export
      excel danh sách thành viên</button>
  </div>
  <div class="members-management__filter bg-white p-3 mt-3">
    <form id="member-list-filter">
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="sortby">Sắp xếp theo ngày vào lab</label>
            <select
              class="form-control"
              id="sortby"
              name="sortby"
              value={{get query "sortby"}}
            >
              <option value="asc">Tăng dần</option>
              <option value="desc">Giảm dần</option>
            </select>
          </div>

        </div>
        <div class="col">
          <div class="form-group">
            <label for="role">Chức vụ</label>
            <select class="form-control" id="role" name="role">
              <option value="student">Sinh viên</option>
              <option value="teacher">Giảng viên</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="studyfield">Lĩnh vực</label>
            <select class="form-control" id="studyfield" name="studyfield">
              <option>Ai Machine learning</option>
              <option>Thiết kế số</option>
              <option>Security</option>
              <option>Web</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="" style="color:white;">Lọc</label>
            <button class="btn btn-primary form-control" type="submit"><i
                class="fas fa-filter"
              ></i>Lọc</button>
          </div>
        </div>
      </div>

    </form>

  </div>
  <div class="members-management-list bg-white p-3 overflow-x-scroll">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Họ tên</th>
          <th scope="col">MSSV (sinh viên)</th>
          <th scope="col">Chức vụ</th>
          <th scope="col">Lĩnh vực</th>
          <th scope="col">Ngày vào lab</th>
          <th scope="col">Trạng thái</th>
          <th scope="col">Tiện ích</th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
          <tr>
            <td class="">{{id}}</td>
            <td class="">{{name}}</td>
            <td class="">{{mssv}}</td>
            <td class="">{{role}}</td>
            <td>{{studyfields}}</td>
            <td class="">{{joinindate}}</td>
            <td class="">{{status}}</td>
            <td class="d-flex">
              <button
                class="btn btn-warning d-flex justify-content-center align-items-center"
              ><i class="fas fa-pen" style="margin-right:0px;"></i></button>
              <button
                class="btn btn-danger d-flex justify-content-center align-items-center"
              ><i class="fas fa-trash" style="margin-right:0px;"></i></button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"
></script>
<script src="/js/excel/excel.js">
</script>
<script>
  let files = document.querySelector('input[type="file"]');
  files.addEventListener('change', (e) => { console.log(e.target.files); let
  json = new ExcelToJSON(); json.parseExcel(e.target.files[0]) });

</script>
<script>
  let formMemberFilter = document.querySelector("#member-list-filter"); let
  listFilter = formMemberFilter.querySelectorAll('select'); let selectedValue =
  {{{query}}}; for (let i = 0; i<listFilter.length; i++) { listFilter[i].value =
  selectedValue[listFilter[i].name] }
</script>